/*
Authors:  
	Andres Orlando Zambrano Rojas
	Marcela Saenz
	Savannah Roberts
*/

body{
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	background-color: #FAF6BF;
}

#wrapper{
	border: solid thin #808080;
	/*width: 70%;*/
	background-color: #FFFFFF;
	padding: 0 5% 0 5%;
  	border-radius: 15px;
}

#logo{
	height: 10em;
	width: 10em;
	
}

img{
	border: .2em solid #FAF6BF;	
	border-radius: 20px;
}

hr{
	height: .2em;
	background-color: #FFB33F;
}

header,footer, caption{
	text-align: center;
	font-weight: bolder;
}

legend, label{
	font-weight: bold;
}

form{
	width: 40%;
	margin:  0 auto;
	padding: 2%;
	margin-bottom: 2%;
}

fieldset{
	border: .2em solid  #BFBA43;
}

label{
	text-align: left;
	margin: 1% auto;
	display: inline-block;
}

